<div id="wrapper">
    <!-- log in html -->
    <div class=" coman-modal coman-modal-a" id="sign-in">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content  text-center">
                <img src="{{constants.ACCESSURL}}img/logo.png" alt="">
                <h1>Reset Password</h1>
                <input type="hidden" id="token" value="{{token}}" />
                <form action="{{constants.ACCESSURL}}admin/resetPassword" method="post"
                    class="ajax-admin-reset-password">
                    <div class="form-group">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="New Password" id="password" required>
                    </div>
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="Confirm Password" id="c_password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="adminResetPass">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>