<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="box-heading title-table">
                        <h2>KYC Verification Status</h2>
                    </div>

                    <div class="kyc-status text-center">
                        <img src="/img/kyc-verified.png" alt="">
                        <h3>Congratulation, KYC Verified.</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>