<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content privatekey">
                    <div class="title-table title-lft">
                        <h2>Created Wallet Details</h2>
                    </div>
                    <div class="my-account-section add-new-wallet-section">
                        <label>Wallet Name</label>
                        <h2 class="walletName">{{data.name}}</h2>
                        <label>Public Address</label>
                        <h3 class="walletAddress">{{data.walletAddress}}</h3>
                        <div class="update-btn">
                            <a class="btn btn-primary" href="{{constants.ACCESSURL}}users/wallets">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>